<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Password</title>
</head>

<body>
    <form action="/api/v1/reset-password?token=<%=token%>" method="post">
        <span>Password:</span>
        <input type="text" id="password">
        </br>
        <span>Password Confirmation:</span>
        <input type="text" id="password_confirmation">
        </br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>