<!DOCTYPE html>
<html lang="en">

<head>
    <title>Session Based - Login</title>
</head>

<body>
    <h2>Login Form</h2>

    <% if(messages.error){ %>
        <p style="color: red;">
            <%= messages.error %>
        </p>
        <% } %>

            <form action="/api/v1/login" method="POST">
                <div>
                    <label for="email">Email :</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password :</label>
                    <input type="text" id="password" name="password" required>
                </div>
                <input type="submit" value="Login">
            </form>
</body>

</html>