<!DOCTYPE html>
<html lang="en">

<head>
    <title>Who Am I</title>
</head>

<body>
    <h2>Who Am I</h2>
    <p>ID:<b>
            <%= user.id %>
        </b></p>
    <p>Name:<b>
            <%= user.name %>
        </b></p>
    <p>Email:<b>
            <%= user.email %>
        </b></p>
</body>

</html>