<!DOCTYPE html>
<html lang="en">

<head>
    <title>Notification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header,
        nav,
        main,
        footer {
            margin: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <header>
        <h1>User ID: <span id="userId">
                <%=userID%>
            </span>
        </h1>
    </header>

    <main>
        <p>Unread notif: <span id="unreadCnt">0</span></p>
        <h2>Notification list:</h2>
        <ul id="notification-list">
            <% notifications.forEach(item=>{ %>
                <li>
                    <b style="color: gray;">
                        <%=item.title%>
                    </b>
                    <p style="color: gray;">
                        <%=item.body%>
                    </p>
                </li>
                <% }) %>
        </ul>
    </main>

    <footer>
        <p>&copy; 2023 tatangdev. All rights reserved.</p>
    </footer>

    <script src=" /socket.io/socket.io.js">
    </script>
    <script>
        let socket = io();
        let notifications = document.getElementById('notification-list');
        let userId = document.getElementById('userId');
        console.log();
        let unreadCntElement = document.getElementById('unreadCnt');

        let unreadCnt = 0;
        socket.on(`user-${Number(userId.textContent)}`, notif => {
            console.log(notif);
            let item = document.createElement('li');
            item.innerHTML = `
            <b>${notif.title}</b>
            <p>${notif.body}</p>
            `;
            notifications.append(item);

            // cnt notif
            unreadCnt++;
            unreadCntElement.textContent = unreadCnt;
        })
    </script>

</body>

</html>